- // This page defines the common layout of whole website
doctype html
html.h-100(lang=config.language)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css")
        link(rel="stylesheet", href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css")
        link(rel="stylesheet", href=url_for('css/main.css'))
        script(src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js")
        script(src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js")
        script(src=url_for("js/main.js"))
        title #{page.title}
    body.h-100
        .col-md-10.col-12.offset-md-1.flex.h-100
            div.container-fluid.f-0
                h1.site-title.mt-2
                    |
                    span.text-lg W
                    | ELCOME
                ul.nav.d-flex.justify-content-between.w-md-60.w-xl-40
                    each dir,index in theme.menu
                        li.nav-item
                            a.nav-link(href=dir): span.var-md-fs=index

            .container-fluid.mb-4.f-auto.pos-relative
                block content